# Series

# 1d labelled array(homogeneous) size is immutable i.e cnat be changed

In [1]:
import numpy as np

In [2]:
import pandas as pd

# Create a series from n-d array

In [22]:
data=np.array(['s','a','n','d','y'])

#pd.Series(data,index,dtype)

In [23]:
a=pd.Series(data)

In [24]:
print(a)

0    s
1    a
2    n
3    d
4    y
dtype: object

#index should be correct as the input or else u will get Value Error

In [25]:
b=pd.Series(data,index=[10,20,30,40,5])

In [26]:
print(b)

10    s
20    a
30    n
40    d
5     y
dtype: object

#if you give more or less than 5 indexes then will get an value error.

In [27]:
data1=np.array((1,2,3))

In [28]:
e=pd.Series(data1,index=[1,2,3])

In [29]:
print(e)

1    1
2    2
3    3
dtype: int64

# create a series from dictionary

In [31]:
data2={'name':'Sandy','age':30,'place':'Atlanta'}

In [32]:
f=pd.Series(data2)

In [33]:
print(f)

name       Sandy
age           30
place    Atlanta
dtype: object

#in creating a series from dictionary you shouldnt add in indexes as the keys in dictionaty act as indexes.

if u give in any indexes in creating a series from dictionary the index will give null values(reperessentes as Nan)

In [34]:
data3={'name':'Divya','age':28,'place':'Minneapolis'}

In [35]:
g=pd.Series(data3,index=[1,2,3])

In [36]:
print(g)

1    NaN
2    NaN
3    NaN
dtype: object

#u need to mention the correct dtype for the output too.

In [39]:
# h=pd.Series(data3,dtype=float) throws an Value error as u cnat convert string to float.

In [41]:
h=pd.Series(data3,dtype=str)

In [42]:
print(h)

name           Divya
age               28
place    Minneapolis
dtype: object

# Series using a scalar or constant

In [43]:
i=pd.Series(26)

In [44]:
print(i)

0    26
dtype: int64

In [45]:
j=pd.Series(21,index=[1,2,3,4,5],dtype=float)

In [46]:
print(j)

1    21.0
2    21.0
3    21.0
4    21.0
5    21.0
dtype: float64

# Series functions

In [47]:
obj=pd.Series([4,-2,58,-3])

In [48]:
obj

0     4
1    -2
2    58
3    -3
dtype: int64

In [49]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [50]:
obj.values

array([ 4, -2, 58, -3])

In [51]:
obj.dtype

dtype('int64')

In [52]:
obj[0]

4

In [53]:
obj>0

0     True
1    False
2     True
3    False
dtype: bool

In [56]:
#Boolean Indexing

In [57]:
obj[obj>0]

0     4
2    58
dtype: int64

In [58]:
obj

0     4
1    -2
2    58
3    -3
dtype: int64

In [59]:
obj+25

0    29
1    23
2    83
3    22
dtype: int64

In [60]:
np.exp(obj)

0    5.459815e+01
1    1.353353e-01
2    1.545539e+25
3    4.978707e-02
dtype: float64

In [61]:
np.sqrt(obj)

/Users/saisandeeptatineni/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

0    2.000000
1         NaN
2    7.615773
3         NaN
dtype: float64

In [64]:
obj

0     4
1    -2
2    58
3    -3
dtype: int64

In [62]:
#Membership operator compares indices not values

In [63]:
5 in obj

False

In [65]:
0 in obj

True

In [68]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':50000}

In [69]:
series=pd.Series(sdata)

In [70]:
series

Ohio      35000
Texas     71000
Oregon    16000
Utah      50000
dtype: int64

In [71]:
states=['California','Ohio','Oregon','Texas']

In [75]:
series=pd.Series(sdata,index=states)

In [76]:
series

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [77]:
pd.isnull(series)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [78]:
series.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [79]:
#both above 2 fns give boolean expressions.

In [80]:
pd.notnull(series)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool